<!DOCTYPE html>
<html>
  <head>
    <title>GALPALENDAR</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>YOU HAVE DELETED THIS PAL.</H1>
    <p><a href='/view_contacts'>View All of Your Pals</a></p>
    <p><a href='/add_contact'>Add Some More Gals</a></p>
  </body>
</html>
