<!DOCTYPE html>
<html>
  <head>
    <title>GALPALENDAR</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='Content/css/styles.css'>
  </head>
  <body>
    <div class="container">
      <h1>Add a pal</h1>
      <p>Add a pal here:</p>
      <form action="/contact_created" method="post">
        <label for="contact-name">Give your pal a name:</label>
        <input id="contact-name" name="contact-name" type="text">
        <br><br>

        <label for="contact-number">Phone number:</label>
        <input id="contact-number" name="contact-number" type="text">
        <br><br>

        <label for="contact-address">Address:</label>
        <input id="contact-address" name="contact-address" type="text">
        <br><br>


        <button type="submit">Add</button>
      </form>
      <p><a href="/">Back home</a>
    </div>
  </body>
</html>
