<!DOCTYPE html>
<html>
  <head>
    <title>GALPALENDAR</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <link rel='stylesheet' href='Content/css/styles.css'>
  </head>
  <body>
    <div class="container">
      <h1>CONGRATS, YOU DELETED EVERYONE</h1>
      <h3><a href='/'>Start Over</a></h3>
    </div>
  </body>
</html>
