<!DOCTYPE html>
<html>
  <head>
    <title>GALPALENDAR</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>CONGRATS, YOU HAVE A PAL! Pal added:</h1>
    <h2>@Model.GetName()</h2>
    <h3>@Model.GetNumber()</h3>
    <h3>@Model.GetAddress()</h3>

    <p><a href='/viewcontacts'>View All of Your Pals</a></p>
    <p><a href='/addcontacts'>Add Some More Gals</a></p>
  </body>
</html>
