<!DOCTYPE html>
<html>
  <head>
    <title>GALPALENDAR</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='Content/css/styles.css'>
  </head>
  <body>
    <div class="container">
      <h1>GAL PAL DIRECTORY</h1>
      <h3><a href='/view_contacts'>View All of Your Pals</a></h3>
      <h3><a href='/add_contact'>Add Some Gals</a></h3>
    </div>
  </body>
</html>
