<!DOCTYPE html>
<html>
  <head>
    <title>Contacts</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>GAL PAL DIRECTORY</h1>
    <h3><a href='/viewcontacts'>View All of Your Pals</a></h3>
    <h3><a href='/addcontacts'>Add Some Gals</a></h3>
  </body>
</html>
